## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [82]:
import pandas as pd

df = pd.read_csv('client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [83]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [84]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [85]:
# Use this space to do any additional research
# and familiarize yourself with the data.
renamed_df = df.rename(columns={"client_id":"Client ID" , "order_id":"Order ID" , "order_week":"Week" , "order_year":"Year" , "unit_price":"Price" ,
                                "unit_cost":"Cost" , "unit_weight":"Weight" , "qty": "Quantity" , "line_number":"Number" , "item_id":"Item ID" , 
                                "line_number":"Line Number" , "order_date":"Date"})
renamed_df.head()

,first,last,job,phone,email,Client ID,Order ID,Date,Week,Year,Item ID,category,subcategory,Price,Cost,Weight,Quantity,Line Number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [86]:
# What three item categories had the most entries?
# Sort the DataFrame by the 'quantity' column in descending order
category_counts = df['category'].value_counts()

# Sort the category counts in descending order
sorted_category_counts = category_counts.sort_values(ascending=False)

# Print the top three item categories with the most entries
top_three_categories = sorted_category_counts.head(3)
print(top_three_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [87]:
# For the category with the most entries,
# which subcategory had the most entries?
most_entries_category = df['category'].value_counts().idxmax()

# Filter the DataFrame to include only the rows corresponding to the category with the most entries
filtered_df = df[df['category'] == most_entries_category]

# Group the filtered DataFrame by the 'subcategory' column and count the number of entries in each subcategory group
subcategory_counts = filtered_df['subcategory'].value_counts()

# Find the subcategory with the most entries
most_entries_subcategory = subcategory_counts.idxmax()

print("Subcategory with the most entries in the category '{}': {}".format(most_entries_category, most_entries_subcategory))

Subcategory with the most entries in the category 'consumables': bathroom supplies

In [88]:
# Which five clients had the most entries in the data?
client_entries = df['client_id'].value_counts()

# Sort the client counts in descending order
sorted_client_entries = client_entries.sort_values(ascending=False)

# Select the top five clients
top_five_clients = sorted_client_entries.head(5)

# Print the result
print("Top five clients with the most entries:")
print(top_five_clients)

Top five clients with the most entries:
client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [89]:
# Store the client ids of those top 5 clients in a list.
top_five_client_ids = top_five_clients.index.tolist()

# Print the list of top five client IDs
print("List of top five client IDs:")
print(top_five_client_ids)

List of top five client IDs:
[33615, 66037, 46820, 38378, 24741]

In [91]:
# How many total units (the qty column) did the
# client with the most entries order order?
most_entries_client = df['client_id'].value_counts().idxmax()

# Filter the DataFrame to include only the rows corresponding to the client with the most entries
filtered_df = df[df['client_id'] == most_entries_client]

# Calculate the total units ordered by the client
total_units_ordered = filtered_df['qty'].sum()

# Print the result
print("Total units ordered by the client with the most entries:", total_units_ordered)

Total units ordered by the client with the most entries: 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [92]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty
df['subtotal'] = df['unit_price'] * df['qty']

# Print the DataFrame to verify the new column
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
0              17        2023  EUD29711-63-6U        decor
1              20        2023  XDA18116-89-4A  consumables
2               4        2023  ABE59463-05-7E     software
3              17        2023  ZMM00836-65-0C  consumables
4              21        2023  BZX55559-12-3X  consumables
...           ...         ...             ...          ...
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
0                wall art     1096.80     762.71         7.50   105
1                    pens       24.95      15.09         1.49    21
2      project management       13.52       7.86         1.68    39
3                    pens       36.42      24.85         1.23    29
4                    misc      195.10     108.17        46.43    20
...                   ...         ...        ...          ...   ...
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number   subtotal
0                1  115164.00
1                0     523.95
2                6     527.28
3                3    1056.18
4                1    3902.00
...            ...        ...
54634            8    2743.29
54635            0    9709.73
54636            6   31188.50
54637            0     165.76
54638            5    3103.31

[54639 rows x 19 columns]

In [93]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
over_50_pounds_rate = 7  
under_50_pounds_rate = 10  

# Create a new column named 'shipping_price' using conditional logic
df['shipping_price'] = df['unit_weight'].apply(lambda x: over_50_pounds_rate * x if x > 50 else under_50_pounds_rate * x)

# Print the DataFrame to verify the new column
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
0              17        2023  EUD29711-63-6U        decor
1              20        2023  XDA18116-89-4A  consumables
2               4        2023  ABE59463-05-7E     software
3              17        2023  ZMM00836-65-0C  consumables
4              21        2023  BZX55559-12-3X  consumables
...           ...         ...             ...          ...
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
0                wall art     1096.80     762.71         7.50   105
1                    pens       24.95      15.09         1.49    21
2      project management       13.52       7.86         1.68    39
3                    pens       36.42      24.85         1.23    29
4                    misc      195.10     108.17        46.43    20
...                   ...         ...        ...          ...   ...
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number   subtotal  shipping_price
0                1  115164.00            75.0
1                0     523.95            14.9
2                6     527.28            16.8
3                3    1056.18            12.3
4                1    3902.00           464.3
...            ...        ...             ...
54634            8    2743.29            22.5
54635            0    9709.73           117.0
54636            6   31188.50            41.6
54637            0     165.76           180.4
54638            5    3103.31            20.7

[54639 rows x 20 columns]

In [94]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

sales_tax_rate = 0.0925

# Create a new column named 'total_price' that calculates the total price
df['total_price'] = df['subtotal'] + df['shipping_price'] * sales_tax_rate

# Print the DataFrame to verify the new column
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ...     category         subcategory  \
0              17        2023  ...        decor            wall art
1              20        2023  ...  consumables                pens
2               4        2023  ...     software  project management
3              17        2023  ...  consumables                pens
4              21        2023  ...  consumables                misc
...           ...         ...  ...          ...                 ...
54634          17        2023  ...     software           logistics
54635           6        2023  ...  consumables    kitchen supplies
54636           9        2023  ...  consumables   bathroom supplies
54637           3        2023  ...    furniture              stands
54638           1        2023  ...     software  project management

      unit_price  unit_cost  unit_weight   qty  line_number   subtotal  \
0        1096.80     762.71         7.50   105            1  115164.00
1          24.95      15.09         1.49    21            0     523.95
2          13.52       7.86         1.68    39            6     527.28
3          36.42      24.85         1.23    29            3    1056.18
4         195.10     108.17        46.43    20            1    3902.00
...          ...        ...          ...   ...          ...        ...
54634      83.13      51.60         2.25    33            8    2743.29
54635     206.59     175.46        11.70    47            0    9709.73
54636      65.66      57.31         4.16   475            6   31188.50
54637       1.48       1.22        18.04   112            0     165.76
54638       3.01       1.61         2.07  1031            5    3103.31

       shipping_price   total_price
0                75.0  115170.93750
1                14.9     525.32825
2                16.8     528.83400
3                12.3    1057.31775
4               464.3    3944.94775
...               ...           ...
54634            22.5    2745.37125
54635           117.0    9720.55250
54636            41.6   31192.34800
54637           180.4     182.44700
54638            20.7    3105.22475

[54639 rows x 21 columns]

In [95]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).
df['line_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']

# Print the DataFrame to verify the new column
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ...         subcategory unit_price unit_cost  \
0              17        2023  ...            wall art    1096.80    762.71
1              20        2023  ...                pens      24.95     15.09
2               4        2023  ...  project management      13.52      7.86
3              17        2023  ...                pens      36.42     24.85
4              21        2023  ...                misc     195.10    108.17
...           ...         ...  ...                 ...        ...       ...
54634          17        2023  ...           logistics      83.13     51.60
54635           6        2023  ...    kitchen supplies     206.59    175.46
54636           9        2023  ...   bathroom supplies      65.66     57.31
54637           3        2023  ...              stands       1.48      1.22
54638           1        2023  ...  project management       3.01      1.61

       unit_weight   qty  line_number   subtotal  shipping_price  \
0             7.50   105            1  115164.00            75.0
1             1.49    21            0     523.95            14.9
2             1.68    39            6     527.28            16.8
3             1.23    29            3    1056.18            12.3
4            46.43    20            1    3902.00           464.3
...            ...   ...          ...        ...             ...
54634         2.25    33            8    2743.29            22.5
54635        11.70    47            0    9709.73           117.0
54636         4.16   475            6   31188.50            41.6
54637        18.04   112            0     165.76           180.4
54638         2.07  1031            5    3103.31            20.7

        total_price  line_cost
0      115170.93750   80159.55
1         525.32825     331.79
2         528.83400     323.34
3        1057.31775     732.95
4        3944.94775    2627.70
...             ...        ...
54634    2745.37125    1725.30
54635    9720.55250    8363.62
54636   31192.34800   27263.85
54637     182.44700     317.04
54638    3105.22475    1680.61

[54639 rows x 22 columns]

In [96]:
# Create a column for the profit of
# each line using line cost and line price
df['line_price'] = df['unit_price'] * df['qty']

df['profit'] = df['line_price'] - df['line_cost']

# Print the DataFrame to verify the new column
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... unit_cost unit_weight   qty  line_number  \
0              17        2023  ...    762.71        7.50   105            1
1              20        2023  ...     15.09        1.49    21            0
2               4        2023  ...      7.86        1.68    39            6
3              17        2023  ...     24.85        1.23    29            3
4              21        2023  ...    108.17       46.43    20            1
...           ...         ...  ...       ...         ...   ...          ...
54634          17        2023  ...     51.60        2.25    33            8
54635           6        2023  ...    175.46       11.70    47            0
54636           9        2023  ...     57.31        4.16   475            6
54637           3        2023  ...      1.22       18.04   112            0
54638           1        2023  ...      1.61        2.07  1031            5

        subtotal  shipping_price   total_price  line_cost  line_price  \
0      115164.00            75.0  115170.93750   80159.55   115164.00
1         523.95            14.9     525.32825     331.79      523.95
2         527.28            16.8     528.83400     323.34      527.28
3        1056.18            12.3    1057.31775     732.95     1056.18
4        3902.00           464.3    3944.94775    2627.70     3902.00
...          ...             ...           ...        ...         ...
54634    2743.29            22.5    2745.37125    1725.30     2743.29
54635    9709.73           117.0    9720.55250    8363.62     9709.73
54636   31188.50            41.6   31192.34800   27263.85    31188.50
54637     165.76           180.4     182.44700     317.04      165.76
54638    3103.31            20.7    3105.22475    1680.61     3103.31

         profit
0      35004.45
1        192.16
2        203.94
3        323.23
4       1274.30
...         ...
54634   1017.99
54635   1346.11
54636   3924.65
54637   -151.28
54638   1422.70

[54639 rows x 24 columns]

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [98]:
df["order_id"].unique()

array([8953482, 8069089, 1902144, ..., 3251328, 4757201, 6032865])

In [101]:
# Check the data type of 'order_id'
df['order_id'] = df['order_id'].astype(str)


# Check for leading or trailing whitespaces in 'order_id'
print(df['order_id'].str.strip().unique())

# Check if there are any rows with the specified 'order_id' values
print(df[df['order_id'].isin(['2742071', '2173913', '6128929'])])

# Calculate the sum of 'total_price' for each specific 'order_id'
print(df.loc[df['order_id'] == '2742071', 'total_price'].sum())
print(df.loc[df['order_id'] == '2173913', 'total_price'].sum())
print(df.loc[df['order_id'] == '6128929', 'total_price'].sum())

['8953482' '8069089' '1902144' ... '3251328' '4757201' '6032865']
          first     last                                       job  \
627      Darius  Stevens                        Physicist, medical
3422    Dorothy     Hall                  Journalist, broadcasting
3446   Kimberly    Blair  Geographical information systems officer
6287   Kimberly    Blair  Geographical information systems officer
13672   Dorothy     Hall                  Journalist, broadcasting
14089    Darius  Stevens                        Physicist, medical
14517   Dorothy     Hall                  Journalist, broadcasting
14938    Darius  Stevens                        Physicist, medical
14962    Darius  Stevens                        Physicist, medical
16295   Dorothy     Hall                  Journalist, broadcasting
20623  Kimberly    Blair  Geographical information systems officer
21141   Dorothy     Hall                  Journalist, broadcasting
22004    Darius  Stevens                        Physicist, medical
23840  Kimberly    Blair  Geographical information systems officer
24671  Kimberly    Blair  Geographical information systems officer
27713    Darius  Stevens                        Physicist, medical
37265   Dorothy     Hall                  Journalist, broadcasting
37949   Dorothy     Hall                  Journalist, broadcasting
38542   Dorothy     Hall                  Journalist, broadcasting
42470  Kimberly    Blair  Geographical information systems officer
48834   Dorothy     Hall                  Journalist, broadcasting
49353   Dorothy     Hall                  Journalist, broadcasting
53155    Darius  Stevens                        Physicist, medical

                        phone                                   email  \
627      +1-220-240-7019x2774            stevensdarius@rich-leach.net
3422   001-338-609-8495x03504  dorothy.per.1343@mitchell-chambers.com
3446       477-680-9323x27378          blair.kimberly.6618@nelson.biz
6287       477-680-9323x27378          blair.kimberly.6618@nelson.biz
13672  001-338-609-8495x03504  dorothy.per.1343@mitchell-chambers.com
14089    +1-220-240-7019x2774            stevensdarius@rich-leach.net
14517  001-338-609-8495x03504  dorothy.per.1343@mitchell-chambers.com
14938    +1-220-240-7019x2774            stevensdarius@rich-leach.net
14962    +1-220-240-7019x2774            stevensdarius@rich-leach.net
16295  001-338-609-8495x03504  dorothy.per.1343@mitchell-chambers.com
20623      477-680-9323x27378          blair.kimberly.6618@nelson.biz
21141  001-338-609-8495x03504  dorothy.per.1343@mitchell-chambers.com
22004    +1-220-240-7019x2774            stevensdarius@rich-leach.net
23840      477-680-9323x27378          blair.kimberly.6618@nelson.biz
24671      477-680-9323x27378          blair.kimberly.6618@nelson.biz
27713    +1-220-240-7019x2774            stevensdarius@rich-leach.net
37265  001-338-609-8495x03504  dorothy.per.1343@mitchell-chambers.com
37949  001-338-609-8495x03504  dorothy.per.1343@mitchell-chambers.com
38542  001-338-609-8495x03504  dorothy.per.1343@mitchell-chambers.com
42470      477-680-9323x27378          blair.kimberly.6618@nelson.biz
48834  001-338-609-8495x03504  dorothy.per.1343@mitchell-chambers.com
49353  001-338-609-8495x03504  dorothy.per.1343@mitchell-chambers.com
53155    +1-220-240-7019x2774            stevensdarius@rich-leach.net

       client_id order_id  order_date  order_week  order_year  ... unit_cost  \
627        22122  2173913  2023-02-19           7        2023  ...     96.23
3422       88257  6128929  2023-03-12          10        2023  ...     11.75
3446       78447  2742071  2023-02-27           9        2023  ...      3.05
6287       78447  2742071  2023-02-27           9        2023  ...    407.68
13672      88257  6128929  2023-03-12          10        2023  ...     90.12
14089      22122  2173913  2023-02-19           7        2023  ...      2.09
14517      88257  6128929  2023-03-12          10        2023  ...     98.35
14938      22122  2173913  2023-02-19           7        2023  ...    160.50
14962      22122  2173913  2023-02-19           7        2023  ...     18.02
16295      88257  6128929  2023-03-12          10        2023  ...     42.72
20623      78447  2742071  2023-02-27           9        2023  ...     80.78
21141      88257  6128929  2023-03-12          10        2023  ...     23.64
22004      22122  2173913  2023-02-19           7        2023  ...     45.64
23840      78447  2742071  2023-02-27           9        2023  ...     35.41
24671      78447  2742071  2023-02-27           9        2023  ...     54.86
27713      22122  2173913  2023-02-19           7        2023  ...     71.20
37265      88257  6128929  2023-03-12          10        2023  ...      1.14
37949      88257  6128929  2023-03-12          10        2023  ...    470.05
38542      88257  6128929  2023-03-12          10        2023  ...      5.50
42470      78447  2742071  2023-02-27           9        2023  ...     61.07
48834      88257  6128929  2023-03-12          10        2023  ...     98.70
49353      88257  6128929  2023-03-12          10        2023  ...     72.54
53155      22122  2173913  2023-02-19           7        2023  ...     81.11

      unit_weight   qty  line_number   subtotal  shipping_price   total_price  \
627          2.66    70            4    7718.90            26.6    7721.36050
3422         7.61   671            3    8890.75            76.1    8897.78925
3446        10.46    77            5     430.43           104.6     440.10550
6287         2.60   260            0  119652.00            26.0  119654.40500
13672        7.05    40            6    5459.60            70.5    5466.12125
14089        1.04    36            2     118.08            10.4     119.04200
14517        6.28  1089            9  117187.29            62.8  117193.09900
14938        4.08    23            6    5835.33            40.8    5839.10400
14962        5.67    63            5    2145.78            56.7    2151.02475
16295        0.78    44            8    3439.92             7.8    3440.64150
20623        2.27    12            3    1621.44            22.7    1623.53975
21141        4.60    26            2     731.12            46.0     735.37500
22004        0.17    99            3    8655.57             1.7    8655.72725
23840        0.54    22            1    1046.98             5.4    1047.47950
24671        1.57    24            2    1432.56            15.7    1434.01225
27713        6.27    29            1    2660.75            62.7    2666.54975
37265        6.00    45            1      73.35            60.0      78.90000
37949        6.55   344            0  320470.40            65.5  320476.45875
38542        1.38     8            4      48.72            13.8      49.99650
42470        3.04    44            4    3615.92            30.4    3618.73200
48834        0.55   664            5   90974.64             5.5   90975.14875
49353        4.26  1663            7  141288.48            42.6  141292.42050
53155        5.22   901            0   82306.35            52.2   82311.17850

       line_cost  line_price     profit
627      6762.70     7718.90     956.20
3422     7960.35     8890.75     930.40
3446      339.45      430.43      90.98
6287   106022.80   119652.00   13629.20
13672    3675.30     5459.60    1784.30
14089      85.64      118.08      32.44
14517  107165.95   117187.29   10021.34
14938    3732.30     5835.33    2103.03
14962    1191.96     2145.78     953.82
16295    1887.48     3439.92    1552.44
20623     992.06     1621.44     629.38
21141     660.64      731.12      70.48
22004    4520.06     8655.57    4135.51
23840     784.42     1046.98     262.56
24671    1332.34     1432.56     100.22
27713    2127.50     2660.75     533.25
37265     111.30       73.35     -37.95
37949  161762.70   320470.40  158707.70
38542      57.80       48.72      -9.08
42470    2717.48     3615.92     898.44
48834   65542.30    90974.64   25432.34
49353  120676.62   141288.48   20611.86
53155   73132.31    82306.35    9174.04

[23 rows x 24 columns]
127818.274
109463.98675
688605.9505

In [109]:
specific_order_ids = ['2742071', '2173913', '6128929']

# Filter the DataFrame for specific order IDs and calculate total cost for each
for order_id in specific_order_ids:
    total_cost = df.loc[df['order_id'] == order_id, 'total_price'].sum()
    print(f"Total cost for order {order_id}: ${total_cost:.2f}")

Total cost for order 2742071: $127818.27
Total cost for order 2173913: $109463.99
Total cost for order 6128929: $688605.95

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [115]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.
# Filter the DataFrame to include only orders from the top 5 clients
top_five_client_ids = [33615, 66037, 46820, 38378, 24741]

# Filter the DataFrame to include only orders from the top 5 clients
top_five_clients_orders = df[df['client_id'].isin(top_five_client_ids)]

# Calculate the total spending for each of the top 5 clients
total_spending_by_client = top_five_clients_orders.groupby('client_id')['total_price'].sum()

total_spending_by_client_currency = total_spending_by_client.map('${:,.2f}'.format)

# Print the total spending for each of the top 5 clients in a currency format
print("Total spending for each of the top 5 clients:")
print(total_spending_by_client_currency)

Total spending for each of the top 5 clients:
client_id
24741    $70,177,751.57
33615     $5,840,198.48
38378     $8,385,421.44
46820     $7,318,382.30
66037     $7,996,634.98
Name: total_price, dtype: object

In [167]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.
top_five_clients_orders = df[df['client_id'].isin(top_five_client_ids)]

# Calculate the total units purchased, total shipping price, total revenue, and total profit for each client
summary_df = top_five_clients_orders.groupby('client_id').agg(
    total_units_purchased=('qty', 'sum'),
    total_shipping_price=('shipping_price', 'sum'),
    total_revenue=('total_price', 'sum'),
    total_profit=('profit', 'sum')
)

# Format the total revenue, shipping price, and profit columns as dollar amounts
summary_df['total_revenue'] = summary_df['total_revenue'].map('${:,.2f}'.format)
summary_df['total_shipping_price'] = summary_df['total_shipping_price'].map('${:,.2f}'.format)
summary_df['total_profit'] = summary_df['total_profit'].map('${:,.2f}'.format)

# Sort the summary DataFrame by total profit
summary_df = summary_df.sort_values(by='total_profit', ascending=False)

# Print the summary DataFrame
print(summary_df)

           total_units_purchased total_shipping_price   total_revenue  \
client_id
24741                     239862            $9,365.60  $70,177,751.57
66037                      43018           $10,017.30   $7,996,634.98
38378                      73667           $11,895.00   $8,385,421.44
46820                      75768           $11,094.80   $7,318,382.30
33615                      64313           $12,609.40   $5,840,198.48

             total_profit
client_id
24741      $29,605,068.31
66037       $2,376,359.95
38378       $2,167,160.57
46820       $1,900,518.43
33615       $1,480,093.69

In [172]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

summary_df['total_revenue'] = summary_df['total_revenue'].str.replace('$', '').str.replace(',', '')
summary_df['total_shipping_price'] = summary_df['total_shipping_price'].str.replace('$', '').str.replace(',', '')
summary_df['total_profit'] = summary_df['total_profit'].str.replace('$', '').str.replace(',', '')

summary_df['total_revenue'] = pd.to_numeric(summary_df[('total_revenue', '')]) / 1000000
summary_df['total_shipping_price'] = pd.to_numeric(summary_df[('total_shipping_price', '')]) / 1000  # Adjusted to divide by 1000 for thousands
summary_df['total_profit'] = pd.to_numeric(summary_df[('total_profit', '')]) / 1000000

# Rename the columns for presentation
summary_df = summary_df.rename(columns={
    'total_units_purchased': 'Total Units Purchased',
    ('total_shipping_price', ''): 'Total Shipping Price (Thousands)',
    ('total_revenue', ''): 'Total Revenue (Millions)',
    ('total_profit', ''): 'Total Profit (Millions)'
})

# Format the total revenue, shipping price, and profit columns as million-dollar amounts
summary_df['Total Revenue (Millions)'] = summary_df['Total Revenue (Millions)'].map('${:,.2f}M'.format)
summary_df['Total Shipping Price (Thousands)'] = summary_df['Total Shipping Price (Thousands)'].map('${:,.2f}K'.format)  # Adjusted to display in thousands (K)
summary_df['Total Profit (Millions)'] = summary_df['Total Profit (Millions)'].map('${:,.2f}M'.format)

# Print the formatted and renamed summary DataFrame
print(summary_df)

KeyError: 'total_revenue'

In [174]:
# Sort the updated data by "Total Profit" form highest to lowest
summary_df['total_profit'] = pd.to_numeric(summary_df['total_profit'].str.replace('$', '').str.replace(',', ''))
summary_df = summary_df.sort_values(by='total_profit', ascending=False)

# Convert total revenue, shipping price, and total profit to millions of dollars
summary_df['total_revenue'] = summary_df['total_revenue'] / 1_000_000
summary_df['total_shipping_price'] = summary_df['total_shipping_price'] / 1_000_000
summary_df['total_profit'] = summary_df['total_profit'] / 1_000_000

# Format the total revenue, shipping price, and profit columns as million-dollar amounts
summary_df['total_revenue'] = summary_df['total_revenue'].map('${:,.2f}M'.format)
summary_df['total_shipping_price'] = summary_df['total_shipping_price'].map('${:,.2f}M'.format)
summary_df['total_profit'] = summary_df['total_profit'].map('${:,.2f}M'.format)

# Print the sorted summary DataFrame
print(summary_df)

KeyError: 'total_profit'